.about {
  width: 80%;
  margin: auto;
}

.auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 600px));
  justify-content: center;
}

body {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1472803828399-39d4ac53c6e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2321&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.button:hover {
  background-color: #035096;
  color: white;
}

.card {
  border-radius: 8px;
  background-color: white;
  color: black;
  margin: 20px;
  box-shadow: 3px 3px 6px 0 black;
  box-sizing: border-box;
  padding-bottom: 20px;
  overflow: hidden;
}

.card a {
  display: inline-block;
  border: 1px solid;
  border-radius: 8px;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 8px;
  background-color: #035096;
  color: white;
  text-decoration: none;
}

.card .thumbnail {
  border-radius: 8px 8px 0 0;
}

.card p {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.contact-info {
  display: grid;
  width: 200px;
  margin: auto;
}

.contact-info a {
  color: white;
}

header {
  text-align: center;
}
img {
  width: 100%;
}
p {
  font-size: 20px;
}

picture {
  display: inline-block;
  box-shadow: 0px 8px 15px 0px #e8e8e8;
  height: 263px;
  border-bottom: 1px solid #ccc;
}

picture source {
  width: 100%;
  position: relative;
}

.profile-pic {
  border-radius: 8px;
}

.social-links {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.social-link-item {
  margin-left: 10px;
  width: 30px;
}
